.College-Container {
    background-color: white;
    width: 100%;
}

.Container {
    overflow: hidden;
    margin-right: 0px;
}
.blog {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 35rem;
    margin-bottom: 3rem;
}
#first-tag {
    width: 355px;
    height: 240px;
    margin-left: 72px;
    border-radius: 5px;
    margin-top: -41px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#dash-card-blw {
    width: 369px;
    height: 144px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

.donutchart {
    height: 272px;
    width: 275px;
}

#Overview {
    width: 73px;
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.74px;
    color: #000000;
    margin-left: 12px;
}

#tag-2 {
    margin: 0;
    width: 313px;
    text-align: left;
    margin-left: -17px;
    margin-top: -41px;
    float: left;
    height: 240px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#tag-3 {
    width: 165px;
    height: 240px;
    float: left;
    margin-top: -41px;
    border-radius: 5px;
    margin-left: -20px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#tag-4 {
    /* width: 310px;
    height: 240px; */
    text-align: left;
    margin-left: -51px;
    margin-top: -41px;
    float: left;
    border-radius: 5px;
    /* box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24); */
    background-color: #ffffff;
}

#tag-5 {
    width: 268px;
    height: 240px;
    margin-left: 72px;
    margin-top: -4px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#tag-6 {
    width: 275px;
    height: 240px;
    float: left;
    margin-top: -4px;
    margin-left: -17px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#tag-7 {
    width: 647px;
    height: 240px;
    float: left;
    margin-top: -4px;
    margin-left: -33px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#nav-drawer {
    width: 250px;
    height: 760px;
    background-color: #03153a;
}

#dash-text {
    color: white;
}

#wcm {
    width: 400px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
}

.makeStyles-content-10 {
    padding: 16px;
    flex-grow: 1;
    background: white;
    height: 536px;
}

#search-box {
    width: 68%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 88px;
    background-color: white;
    background-image: url("../assets/search.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#dash-line {
    width: 100%;
    height: 1px;
    margin-top: -4px;
    background-color: #ffffff;
}

#top-icons-oval {
    width: 31px;
    height: 31px;
    align-content: "middle";
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    cursor: pointer;
}

#div-space {
    padding-left: 10px;
    padding-right: 10px;
}

#vline {
    width: 1px;
    height: 60px;
    border: solid 1px #f4f4f4;
}

#bell-icon {
    width: 31px;
    height: 31px;
    align-content: "middle";
    background-color: #ffffff;
    margin-left: 10px;
}

#hd-colg-name {
    width: 80%;
    height: 19px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
}

.div.a {
    text-align: justify;
    /* For Edge */
    -moz-text-align-last: right;
    /* For Firefox prior 58.0 */
    text-align-last: right;
}

#dtime {
    font-size: 0.6rem;
    color: red;
}

#rdiv-space {
    margin-right: -8px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#bell-icons-oval {
    width: 31px;
    height: 31px;
    align-content: "middle";
    background-color: #ffffff;
}

#create-course-label {
    width: 130px;
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #fe5d00;
    margin-top: 161px;
}

#add-icon {
    width: 18px;
    height: 18px;
    border-radius: 15.8px;
    background-color: #fe5d00;
}

#cc-label {
    width: 112px;
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #fe5d00;
}

#cc-box {
    display: flex;
    vertical-align: middle;
}

#cc-icon {
    width: 116px;
    height: 130px;
}

.College-header-Container {
    width: 100%;
    height: 68px;
    background-color: white;
}

#hd {
    background-color: white;
}

hr.new1 {
    border-top: 1px solid red;
}

#myc {
    background-color: white;
}

body {
    
}

#course-txt {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
}

.card {
    width: 289px;
    height: 352px;
    position: relative;
    border-radius: 4.8px;
    box-shadow: 0 2px 10px 0 rgba(158, 226, 242, 0.57);
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#cc {
    display: contents;
}

#card-row {
    margin-left: 72px;
}

#course-div {
    margin-top: -82px;
    height: 108px;
}

#course-add {
    display: flex;
    vertical-align: middle;
    float: right;
    margin-top: -148px;
    margin-right: 29px;
}

#all-new {
    width: 18px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#all-new-div {
    float: left;
    margin-left: 80px;
    margin-top: 5px;
}

#new-g {
    width: 23px;
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #339900;
    margin-left: 4px;
}

#all-o {
    width: 27px;
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fe6f00;
    margin-left: 4px;
}

#c-search-tab {
    width: 200px;
    height: 35px;
    opacity: 0.3;
    border-radius: 25px;
    border: solid 1px #9ba4b5;
    float: right;
    margin-right: 125px;
    margin-top: -4px;
}

#row1 {
    margin-top: -88px;
}

#row2 {
    margin-top: 2px;
}

#row3 {
    margin-top: -4px;
}

#row4 {
    margin-top: -8px;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
    height: 142px;
    display: center;
    padding: 12px;
    margin-top: -15px;
    opacity: 0.5;
}

.card-img:hover {
    opacity: 1;
}

.card-header:first-child {
    border-radius: 8.2px;
    background-color: #ffeab5;
}

.card-header {
    text-align: left;
    margin-left: 12px;
    margin-top: 0.5rem;
    width: 40%;
    height: 15px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.31px;
    color: #6269cf;
    border-radius: 8.2px;
    background-color: #ffeab5;
}

.MuiAvatar-root {
    color: #fafafa;
    background-color: red;
    width: 20px;
    height: 20px;
}

.card-text {
    width: 100%;
    height: 16px;
    font-family: Poppins;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #000000;
    margin-top: -30px;
}

.card-title {
    width: 100%;
    height: 16px;
    font-family: Poppins;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: #9ba4b5;
    text-align: left;
    margin-top: -24px;
}

.card-subtitle {
    width: 100%;
    height: 38.5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.44px;
    color: #000000;
    text-align: left;
}

.MuiIcon-root {
    margin-left: 112px;
    background-image: url("../assets/uni.jpg");
}

#teacher-div {
    height: 150px;
    background-color: #bfcac9;
    text-align: left;
    margin-top: 12px;
}

#ins-name {
    width: 70%;
    height: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.75px;
    color: #ffffff;
}

#ins-id {
    width: 80%;
    height: 16px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-align: left;
}

#ins-num {
    width: 50%;
    height: 1px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#ins-text {
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #6f7782;
}

#ins-div-rt {
    margin-left: -30px;
    margin-top: 30px;
}

#ins-div-lft {
    margin-left: 94px;
    text-align: left;
}

#colege-div {
    height: 150px;
    background-color: #f7f7f7;
}

#colg-name {
    width: 70%;
    height: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.75px;
    color: black;
    margin-top: -86px;
    margin-left: 218px;
}

#colg-id {
    width: 80%;
    height: 16px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.8px;
    color: black;
    text-align: left;
    margin-left: 218px;
}

#c-tit {
    width: 60%;
    height: 16px;
    border-radius: 8.2px;
    margin-top: 34px;
    margin-left: 8px;
}

#ins-crs-cc-tit {
    width: 60%;
    height: 16px;
    border-radius: 8.2px;
    background-color: darkblue;
}

#ins-crs-cc-txt {
    width: 271px;
    height: 40px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: #000000;
}

#c-tit-text {
    width: 100%;
    height: 15px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.31px;
    color: white;
    margin-left: 10px;
    margin-right: auto;
    display: block;
}

#dash-sm-box {
    width: 115px;
    height: 82px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#ins-desc {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.69px;
    text-align: center;
    color: #9ba4b5;
    word-wrap: break-word;
}

#crs-card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
    height: 142px;
    display: center;
    padding: 12px;
    margin-top: -15px;
    opacity: 1;
}

#crs-card-img:hover {
    opacity: 0.5;
}

#mds-card-img:hover {
    opacity: 0.5;
}

#mds-card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
    padding: 12px;
    margin-top: -2.5px;
    opacity: 1;
    height: 190px;
    margin-left: -3px;
    border-radius: 30px;
}

#created-date {
    height: 16px;
    font-family: Poppins;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: #9ba4b5;
    margin-left: -8px;
}

#crs-course-label {
    height: 38.5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.44px;
    color: #000000;
}

#prof-label {
    width: 92px;
    height: 17px;
    font-family: Poppins;
    font-size: 15.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    color: #000000;
}

#crs-card-btm {
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.43px;
    color: #9ba4b5;
}

#ins-card-lb1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: 0.44px;
    color: #000000;
}

#ins-card-lb2 {
    font-family: Poppins;
    font-size: 12px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.69px;
    text-align: center;
    color: silver;
}

#i-tit {
    width: 60%;
    height: 16px;
    border-radius: 8.2px;
    background-color: #2f368e;
    margin-top: 12px;
    display: inline-flex;
    margin-bottom: 12px;
}

#ins-card-lb3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.69px;
    text-align: center;
    color: #000000;
}

#dash-lbl {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.41px;
    color: #000000;
}

#g-num {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #339900;
}

#header-row {
    width: 100%;
    height: 60px;
    background-color: #010101;
}

#header-label {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

#stu-label {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: 1px;
    color: #ffffff;
    float: left;
    margin-left: -78px;
    margin-top: 21px;
}

#stu-lb {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
}

#stu-dash-lb {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
}

#dash-left {
    text-align: left;
}

#stu-dash-col {
    padding: 0 5px;
}

#dash-box {
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#dash-chart {
    height: 248px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    margin-top: 16px;
}

#dash-card-3 {
    height: 374px;
    margin-top: 12px;
    background-color: #ffffff;
}

#cc-oval {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #ff8400;
}

#cc-text-lbl {
    width: 35px;
    height: 45px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.09;
    letter-spacing: 0.55px;
    color: #ff8400;
}

#cc-hline {
    width: 26%;
    margin-top: -10px;
    border: solid 1px #cbd4db;
}

#cc-g-oval {
    width: 18px;
    height: 18px;
    border: solid 1px #cbd4db;
    border-radius: 50%;
    font-size: 10px;
    color: #cbd4db;
    font-weight: bold;
    margin-top: -26px;
    margin-left: 201px;
}

#cc-txt {
    width: 180px;
    height: 30px;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    color: #000000;
}

#cc-dropdwn {
    width: 150px;
    height: 40px;
    border-radius: 22.5px;
    border: solid 1px #cbd4db;
    background-color: #f9fbfc;
}

#cc-inp {
    width: 94%;
    height: 30px;
    border-radius: 22.5px;
    border: solid 1px #cbd4db;
    outline: none;
}

#cc-nxt {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #ffffff;
    margin-top: 10px;
}

#cc-arr {
    width: 18px;
    height: 18px;
    border: solid 1px white;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-top: -37px;
    margin-top: -29px;
    margin-left: 102px;
}

#cc-btn {
    width: 142px;
    height: 40px;
    border-radius: 22.5px;
    background-image: linear-gradient(to bottom, #ff9600, #fe5d00);
}

#cc-txtarea {
    width: 94%;
    height: 60px;
    border-radius: 12.5px;
    border: solid 1px #cbd4db;
    outline: none;
    font-size: 15px;
}

#cc-lbl {
    width: 108px;
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #6f7782;
}


/* table property */

#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#students {
    text-align: center;
    font-family: "Poppins";
    border-collapse: collapse;
    width: 100%;
}


/* #students tr:hover {
    background-color: #ccc;
    width: 110%;
    height: 110%
} */

#stu-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

#dash-text {
    width: 100%;
    height: 20px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.41px;
    color: #000000;
}

#stu-ava-div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    width: 322px;
}

#sess-vid-div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    width: 122px;
}

#stu-name {
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 560;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.44px;
    color: #000000;
}

#stu-div {
    display: flex;
    justify-content: left;
    height: 42px;
}

#dash-rt-back {
    background-color: rgb(210, 213, 255);
    /* border-radius: 8.2px; */
    margin-left: auto;
    padding-left: 2px;
    padding-right: 2px;
    color: #6269cf;
}

.player-wrapper {
    position: relative;
    padding-top: 0%;
    /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

#tab-text {
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.31px;
    color: #ffffff;
}

#wrapper {
    position: relative;
}

#img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#img2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#intro-txt {
    width: 100%;
    height: 48px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.56px;
    color: #ffffff;
}

#intro-auth {
    width: 188px;
    height: 30px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: 0.29px;
    color: #ffffff;
}

.react-switch-bg {
    width: 42px;
    height: 16px;
}

.react-switch-handle {
    width: 16px;
    height: 14px;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: grey;
}


/* end of scroll bar */

#mod-label {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000000;
    float: left;
    width: 100%;
    margin-top: 4px;
}

#ses-div {
    width: 1102px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    margin-left: 1px;
    margin-top: 15px;
}

#mod-title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #6f7782;
}

#add-ses {
    margin-right: 4%;
    width: 126px;
    height: 25px;
    border-radius: 22.5px;
    border: solid 1px #fe6900;
}

.dzu-dropzone {
    width: 200px;
    background-color: #fe6f00;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    overflow: scroll;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    transition: all 0.15s linear;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
}

#ass-div {
    width: 380px;
    height: 228px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#asgn-div {
    width: 1102px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    margin-left: 1px;
    margin-top: 15px;
}

#assgn-vid-div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
}

#ass-title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #030b7d;
}

#trunc-txt {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.69px;
    text-align: center;
    color: #9ba4b5;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    text-align: 'left';
}

#ins-sm-div {
    width: 151px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    margin-bottom: 10px;
}

#blue-font {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    color: #03154b;
}

#stu-dash-box {
    width: 416px;
    height: 380px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#stu-dash-box-2 {
    width: 425px;
    height: 380px;
    margin-left: 12px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#stu-dash-box-3 {
    width: 264px;
    height: 380px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    margin-left: 12px;
}

#elevenpx-font {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.39px;
    color: #9f9f9f;
}

#elevenpointfive-font {
    font-family: Poppins;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #000000;
}

#div-overlay {
    width: 80%;
    height: 17px;
    border-radius: 8.2px;
    background-color: #fe6900;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#elevn-white {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.34px;
    color: #ffffff;
}

#ninepx-font {
    font-family: Poppins;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000000;
}

#rating-div {
    width: 381px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#rating-div-2 {
    width: 381px;
    height: 153px;
    border-radius: 20px;
    box-shadow: 0 2px 20px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#cent-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-over {
    position: absolute;
    top: 20px;
    left: 20px;
    /* background-color: black; */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#btn-overlay {
    width: 100px;
    height: 30px;
    border-radius: 21px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

#pills-btn {
    border-radius: 27px;
    border: none;
    outline: none;
    background: #fe5d00;
    color: white;
    font-family: Poppins;
}

#drop-menu-div {
    position: absolute;
    float: right;
    z-index: 100;
    width: 170px;
    margin: 18px 35px -200px -100px;
    text-align: left;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
}

#li-div {
    margin-bottom: 8px;
}

#a-div {
    color: #666;
    text-decoration: none;
    cursor: pointer;
    margin-left: -20px;
}

input#cc-inp::placeholder {
    font-size: 16px;
    text-align: left;
    padding-left: 6px;
}

textarea#cc-txtarea::placeholder {
    font-size: 16px;
    text-align: left;
    padding-left: 6px;
}


/* player css */

.material-icons:hover {
    font-size: 28;
}

.progress-bar-fill {
    width: 0;
    height: 4px;
    background-color: #e74c3c;
    transition: width .25s linear;
}

.progress-bar-fill .overlay {
    grid: 1/1;
}


/* end of player css */

#sess-oval-div {
    height: 45px;
    opacity: 0.42;
    box-shadow: 0 1px 3px 0 #f3fcff;
    background-color: white;
    border: solid 1px #d9dce3;
    border-radius: 20px 0 0 20px;
    padding-top: 8px;
    /* mix-blend-mode: overlay; */
    margin-top: 2px;
    margin-bottom: 6px;
    display: flex;
    opacity: 1;
}

#drp {
    width: 78%;
    padding-left: 12px;
    outline: none;
    /* height: 31px; */
    height: 40px;
    border-radius: 22.5px;
    border: solid 1px #cbd4db;
    background-color: #f9fbfc;
}

#add-mod-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#crs-bg {
    background-image: url('../assets/createcourse.svg');
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 635px;
    max-height: 635px;
    /* height: 200px; */
    margin: 0px;
    padding: 0px;
}