.sugnup {
    background: white;
}

.Container {
    background: white
}

h1 {
    font: 12px;
    color: blue
}

img {
    max-width: 100%;
}

#login-Rectangle {
    width: 400px;
    height: 360px;
    right: 146px;
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 2px 40px 0 rgba(158, 226, 242, 0.24);
    background-color: #ffffff;
    text-align: center;
}

#login-text {
    position: absolute;
    width: 392px;
    height: 117px;
    direction: rtl;
    font-family: Campton-BoldDEMO;
    font-size: 27px;
    top: 167px;
    left: 97px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 1.5px;
    color: #0a2e78;
}

#s {
    width: 68%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 88px;
    background-color: white;
    background-image: url("../../assets/mail_sm.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#Welcome-back {
    width: 184px;
    height: 31px;
    text-align: center;
    font-family: Poppins-Regular;
    font-size: 22px;
    top: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.85px;
    color: #fe5d00;
}

#Please-login-to-your {
    width: 238px;
    height: 19px;
    font-family: Poppins-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #9ba4b5;
}

#Rectangle1 {
    width: 340px;
    height: 50px;
    opacity: 0.5;
    border-radius: 25px;
    border: solid 1px #9ba4b5;
    background: url('../../assets/mail_sm.png') no-repeat right 10px center;
    background-repeat: no-repeat;
    background-position: right;
}

#Enter-email-address {
    width: 133px;
    height: 19px;
    font-family: Poppins-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #9ba4b5;
}

#Email-Address {
    width: 97px;
    height: 17px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.46px;
    color: #333333;
}

#Forgot-password {
    width: 124px;
    height: 19px;
    font-family: Poppins-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #8494b3;
    margin-left: -20px;
}

#icon {
    background-image: url('../../assets/mail_sm.png');
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

#LOG-IN {
    width: 50px;
    height: 20px;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    color: #ffffff;
}

#Login-Btn {
    width: 349px;
    height: 50px;
    border-radius: 25px;
    background-color: #fe5d00;
    border: none;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: left;
    padding-left: 12px;
}

#bg {
    background-image: url("../../assets/LOGIN_BG.svg");
    /* Full height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden
}

#input_container {
    position: relative;
    padding: 0;
    margin: 0;
}

#input {
    height: 20px;
    margin: 0;
    padding-left: 20px;
}

#input_img {
    position: relative;
    bottom: 8px;
    left: -50px;
    width: 10px;
    text-align: right;
    height: 10px;
}

#phrase-txt {
    font-family: Popins;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 1.5px;
    color: #0a2e78;
}

#phrase-txt-2 {
    font-family: Popins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.67px;
    color: #9ba4b5;
}
.error_msg {
    color: red;
    font-size: 10px;
}
.snackMessage {
    background-color: green;
}
/* .backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
} */